/*colours
(blue->green)
blue: #0CB6FA
blue-2: #0BD7DC
faded-green: #00F3B4
dark-green: #0BDC6B
green: #0CFA36
*/

/*fonts
serif(headings):
sans-serif(body):rubik
*/

@import url('https://fonts.googleapis.com/css?family=Radley|Rubik');

* {
  box-sizing: border-box;
  margin: 0;

}
h1 {
  font-family: "Radley", Helvetica, sans-serif;
  text-align: center;
}

p {
  font-family: "Rubik", Helvetica, sans-serif;
}

h2 {
  font-family: "Radley", Helvetica, sans-serif;
  text-align: center;
}

.box {
  border: 2px solid black;
  box-shadow: 5px 5px black;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
}

.main {
  padding: 1rem;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 1rem;
    box-shadow: 5px 5px black;
    font-family: "Rubik";
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0 1px 0;
    text-align: center;
    border: 2px solid black;
}

.navbar li a:hover {
    background-color: #0BDC6B;
}

.navbar li:last-child a {
    margin: 0;
}

ul.icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center
}

ul.icons li {
  display: inline;
  font-size: 300%;
  padding: 2rem;
}

footer {
  width: 100%;
  height: auto;
  color: white;
  padding: 1rem;
  background: #0CFA36; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #0CB6FA , #00F3B4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #0CB6FA , #00F3B4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #0CB6FA , #00F3B4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,  #0CB6FA, #00F3B4); /* Standard syntax */
}
