/*colours
(blue->green)
blue: #0CB6FA
blue-2: #0BD7DC
faded-green: #00F3B4
dark-green: #0BDC6B
green: #0CFA36
*/

/*fonts
serif(headings):
sans-serif(body):rubik
*/

@import url('https://fonts.googleapis.com/css?family=Radley|Rubik');

.slides {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;

}
h1 {
  font-family: "Radley", Helvetica, sans-serif;
  text-align: center;
}

body {
    font-size:  0.618rem;
    line-height: 1.4;
}

p {
  font-family: "Rubik", Helvetica, sans-serif;

}

h2 {
  font-family: "Radley", Helvetica, sans-serif;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.btn:hover {
  color: #0CB6FA;
}

#active {
  color: #0CB6FA;
}

.slider {
  border: 2px solid black;
  box-shadow: 5px 5px black;
  padding: 1rem;
  margin: 0 10px 0 0;
}

.container {
  padding: 1rem;
}

ul.navbar {
    list-style: none;
    padding: 0;
    margin: 1rem;
    box-shadow: 5px 5px black;
    font-family: "Rubik";
}

ul.navbar li {
    display: inline;
}

ul.navbar li a {
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0 1px 0;
    text-align: center;
    border: 2px solid black;
}

ul.navbar li a:hover {
    background-color: #0BDC6B;
}

ul.navbar li:last-child a {
    margin: 0;
}

ul.icons {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
  text-align: center
}

ul.icons li {
  display: inline;
  font-size: 300%;
  padding: 2rem;
}

h1 {
  font-size: 2.618rem;
  width: 100%;
  height: auto;
  color:  black;
  padding: 1rem;
  text-align: center;
}


footer {
  width: 100%;
  height: auto;
  color: white;
  padding: 1rem;
  text-align: center;
  background: #0CFA36; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #0CB6FA , #00F3B4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #0CB6FA , #00F3B4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #0CB6FA , #00F3B4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,  #0CB6FA, #00F3B4); /* Standard syntax */
}


@media screen and (min-width: 35rem) {

  body {
      font-size:  1rem;
      line-height: 1.4;
  }

  .wrapper {
    margin-left: 5%;
    margin-right: 5%;
  }

  ul.navbar {
      list-style: none;
      padding: 0;
      margin: 1rem;
      font-family: "Rubik";
  }

  ul.navbar li {
      display: inline;
  }

  ul.navbar li a {
      width: calc(33.3% - 10px + 0.20px);
      text-align: center;
      float: left;
      margin: 0 10px 0 0;
      margin-bottom: 10px;
      padding: 10px;
      text-align: center;
      display: inline;
      background-color: white;
      color: black;
      text-decoration: none;
      border: 2px solid black;
      box-shadow: 5px 5px black;
  }

  ul.navbar li a:hover {
      background-color: #0BDC6B;
  }

  ul.navbar li:last-child a {
      margin: 0;
  }

  ul.icons li {
    display: inline;
    font-size: 300%;
    padding: 2rem;
  }

.mh-image {
  margin-top: 1rem;
}

  .slider {
    width: calc(50% - 2px);
    float: left;

  }

  .container {
    width: calc(50% - 8px);
    float: right;
    padding: 0;

  }

  footer {
    float: left;
    margin-top: 2rem;
  }

  @media screen and (min-width: 60rem) {

    body {
        font-size:  1.618rem;
        line-height: 1.4;
    }

    .wrapper {
      margin-left: 15%;
      margin-right: 15%;
    }

    .slider {
      width: calc(30% - 2px);
      float: left;

    }

    .container {
      width: calc(70% - 8px);
      float: right;
      padding: 0;

    }

    h1 {
      text-align: left;
    }

    h2 {
      text-align: left;
    }
